@use "variables";

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  color: var(--c-text);
  font-family: variables.$font;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.16px;
  -webkit-tap-highlight-color: transparent;
}
  
body {
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

.admin-bar header{
  top: 32px;
}

main {
  display: block;
}

img {
  border-style: none;
  object-fit: contain;
  max-width: 100%;
  height: auto;
}

svg{
  max-width: 100%;
  height: auto;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

path{
  transition: 0.3s;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea, input, select{
  font-family: variables.$font;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
  
textarea {
  resize: vertical;
}

strong {
  font-weight: 700;
}

i{
  font-style: normal;
}

.hidden, [hidden] {
  display: none !important;
}

.overflow-hidden{
  overflow: hidden;
}

.site{
  overflow: hidden;
}

.site, section {
  position: relative;
}

.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
  
.grid-flex {
  display: flex;
  flex-wrap: wrap;
}

.grid-center{
  justify-content: center;
  align-items: center;
}

.grid-between-top{
  justify-content: space-between;
}
.grid-between{
  align-items: center;
  justify-content: space-between;
}

.grid-between-column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grid {
  margin: 0 -8px -16px;
  @media screen and (max-width: variables.$medium) {
    margin: 0 -6px -12px;
  }
  @media screen and (max-width: variables.$small) {
    margin: 0 0 -6px;
  }
}
  
.grid-item-2 {
  width: calc(100% / 2 - 16px);
  margin: 0 8px 16px;
  &:not(.form-card){
    @media screen and (max-width: variables.$medium) {
      margin: 0 0 12px;
      width: 100%;
    }
    @media screen and (max-width: variables.$small) {
      margin: 0 0 12px;
    }
  }
}
  
.grid-item-3 {
  width: calc(100% / 3 - 16px);
  margin: 0 8px 16px;
  @media screen and (max-width: variables.$large) {
    width: calc(50% - 16px);
    margin: 0 8px 12px;
  }
  @media screen and (max-width: variables.$small) {
    width: 100%;
    margin: 0 0 12px;
  }
}
  
.grid-item-4 {
  width: calc(100% / 4 - 16px);
  margin: 0 8px 16px;
  @media screen and (max-width: variables.$large) {
    margin: 0 8px 16px;
    width: calc(100% / 2 - 16px);
  }
  @media screen and (max-width: variables.$small) {
    margin: 0 6px 12px;
    width: calc(100% / 2 - 12px);
  }
}
  
section{
    padding: 60px 0;
    @media screen and (max-width: variables.$small) {
        padding: 30px 0;
    }
}
  
.section-first{
  padding: 140px 0 60px;
  @media screen and (max-width: variables.$medium) {
      padding: 120px 0 60px;
  }
}
  
.container {
  max-width: 1288px;
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
  box-sizing: border-box;
  @media screen and (max-width: variables.$small) {
      padding: 0 16px;
  }
}
  
.container-large{
  max-width: 956px;
}
  
.container-small{
  max-width: 800px;
}
  
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: variables.$font;
  font-weight: 600;
  color: var(--c-text);
  margin: 0;
}
  
h1, .h1 {
  font-size: 64px;
  line-height: 104%;
  letter-spacing: -0.96px;
  @media screen and (max-width: variables.$large) {
    font-size: 52px;
  }
  @media screen and (max-width: variables.$small) {
    font-size: 42px;
  }
}
  
h2, .h2 {
  font-size: 48px;
  line-height: 118%;
  letter-spacing: -0.72px;
  @media screen and (max-width: variables.$medium) {
    font-size: 40px;
  }
  @media screen and (max-width: variables.$small) {
    font-size: 32px;
  }
}
  
h3, .h3 {
  font-size: 24px;
  line-height: 134%; 
  letter-spacing: -0.264px;
  @media screen and (max-width: variables.$small) {
    font-size: 20px;
  }
}
  
h4, .h4 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.36px;
}
  
  h5, .h5 {
    font-size: 14px;
  }
  
.small-text{
  font-size: 14px;
}
  
a {
  color: var(--c-color);
  text-decoration: none;
  transition: .3s;
}
  
p, figure {
  margin: 0 0 16px;
}
  
.m-top{
  margin-top: 50px;
  @media screen and (max-width: variables.$small) {
    margin-top: 35px;
  }
}
  
.m-top-m{
  margin-top: 36px;
  @media screen and (max-width: variables.$small) {
    margin-top: 24px;
  }
}
  
.m-top-s{
  margin-top: 24px;
  @media screen and (max-width: variables.$small) {
    margin-top: 12px;
  }
}
  
ul, ol{
  padding-left: 25px;
      
}
  
.background{
  background-size: cover;
  background-position: center;
}
  
.button, input[type="submit"]{
  padding: 17px 59px;
  text-align: center;
  display: inline-block;
  line-height: 1;
  font-size: 14px;
  font-weight: 600;
  transition: .3s;
  color: var(--c-color);
  cursor: pointer;
  border-radius: 8px;
}
  
.button-primari{
  background-color: var(--c-color);
  &:hover{
    background-color: var(--c-color);
    border-color: var(--c-color);
  }
}
  
.no-margin{
  margin: 0!important;
}
  
.medium{
  display: none!important;
  @media screen and (max-width: variables.$medium) {
    display: block!important;
  }
  }
  
.no-medium{
  @media screen and (max-width: variables.$medium) {
    display: none!important;
  }
}
  
.small{
  display: none;
  @media screen and (max-width: variables.$small) {
    display: block;
  }
}
  
.no-small{
  @media screen and (max-width: variables.$small) {
    display: none;
  }
}
  
.mobile{
  display: none;
  @media screen and (max-width: variables.$mobile) {
    display: block;
  }
}
  
.no-mobile{
  @media screen and (max-width: variables.$mobile) {
    display: none;
  }
}
  
#shadow-host-companion{
  padding: 0;
}