# Ignore node modules and build directories
**/node_modules/
build/

# Ignore environment and system files
Thumbs.db
.DS_Store
debug.log

# Ignore specific directories or files
**/_backstage
package-lock.json

