.blog-hero {
  padding-top: 80px;
  padding-bottom: 20px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 1000px;
  }

  &__title {
    margin: 0;
    color: var(--content-main-primary);
  }

  &__description {
    margin: 0;
    color: var(--content-main-secondary);
  }
}
