@use "../partials/variables";

.case-study-what-we-did-section {
    padding: 120px 0;
    overflow: hidden;

    @media screen and (max-width: variables.$medium) {
        padding: 80px 0;
    }

    @media screen and (max-width: variables.$small) {
        padding: 64px 0;
    }

    > .container {
        @media screen and (max-width: variables.$small) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

.case-study-what-we-did-section__row {
    display: flex;
    align-items: flex-start;
    gap: 24px;

    @media screen and (max-width: variables.$medium) {
        flex-direction: column;
    }
}

.case-study-what-we-did-section__text {
    display: flex;
    width: 790px;
    flex-shrink: 0;
    flex-direction: column;
    gap: 40px;

    @media screen and (max-width: variables.$medium) {
        width: 100%;
    }
}

.case-study-what-we-did-section__title {
    margin: 0;
    color: var(--content-main-primary);
}

.case-study-what-we-did-section__sections {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.case-study-what-we-did-section__section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.case-study-what-we-did-section__section-title {
    margin: 0;
    color: var(--content-solid-accent-2);
}

.case-study-what-we-did-section__section-description {
    margin: 0;
    font-family: var(--font-family-body);
    font-size: var(--text-body-s-size);
    line-height: var(--text-body-s-line-height);
    color: var(--content-main-primary);
}

.case-study-what-we-did-section__image {
    position: relative;
    flex: 1 0 0;
    height: 789px;
    min-width: 0;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 834px;
        height: 789px;
        max-width: none;
    }

    @media screen and (max-width: variables.$medium) {
        height: auto;

        img {
            position: static;
            width: 100%;
            height: auto;
            max-width: 100%;
        }
    }
}
